<div class="login-form">
<form class="myform" [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-center">Register</h2>
  <p class="hint-text text-center">Create your account. It's free and only takes a minute.</p>
          
    
    
    <div class="form-group">
        <input type="email" 
        [ngClass]="{'is-invalid' : registerForm.get('userName').errors && registerForm.get('userName').touched}"
        class="form-control" 
        formControlName="userName" 
        placeholder="Email">
        <div class="invalid-feedback"> Please enter a valid email</div>
    
      </div>
  
      <div class="form-group">
          <input type="text" 
          [ngClass]="{'is-invalid' : registerForm.get('fullName').errors && registerForm.get('fullName').touched}"
          class="form-control" 
          formControlName="fullName" 
          placeholder="Full Name">
          <div class="invalid-feedback"> Please enter your full name</div>
      
        </div>
    
    
      <div class="form-group">
        <input type="password" 
        [ngClass]="{'is-invalid' : registerForm.get('password').errors && registerForm.get('password').touched}"
        class="form-control" 
        formControlName="password" 
        placeholder="Password">
        <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched"> Password is required</div>
        <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched"> Password must have at least 4 characters</div>
        <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched"> Password cannot exceed 18 characters</div>
    
      </div>
    
      <div class="form-group">
        <input type="password" 
        [ngClass]="{'is-invalid' : 
        registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').touched ||
        registerForm.get('confirmPassword').touched && registerForm.hasError('mismatch')}"
        class="form-control" 
        formControlName="confirmPassword" 
        placeholder="Confirm Password">
        <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword').hasError('required') 
        && registerForm.get('confirmPassword').touched"> Confirm password is required</div>
        <div class="invalid-feedback" *ngIf="registerForm.hasError('mismatch') 
        && registerForm.get('confirmPassword').touched"> Passwords must match</div>
        
      </div>
    
    
      <div class="form-group text-center">
        <button class="btn btn-success btn-block" [disabled]="!registerForm.valid" type="submit">Register</button>
        
        <button class="btn btn-primary btn-block" type="button" (click)="cancel()">Cancel</button>
      </div>
      <p class="text-center"><a href="#">Already have an account? Log in</a></p>
  </form>
  .
</div>

  