<nav class=" navbar navbar-expand-md navbar-dark bg-dark" id="navbarsExampleDefault">
    
        <a *ngIf="!loggedIn()" class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>

        <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/listings']"  >Listings</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/map']">Map</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/mylistings']">My Postings</a>
        </li>
            

    </ul>

    <a *ngIf="loggedIn()" class="btn btn-success py-2 text-light mr-2" [routerLink]="['/add']">Add Listing</a>
    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome {{authService.decodedToken?.unique_name}}
      </a>
      <div class="dropdown-menu" *dropdownMenu>
        <a class="dropdown-item logoutclass" (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a>
      </div>
    </div>
    

    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">  
    
      <input class="form-control mr-sm-2" type="text" name="username" 
      placeholder="Username" required [(ngModel)]="model.username">
      
      <input class="form-control mr-sm-2" type="password" name="password"
      placeholder="Password" required [(ngModel)]="model.password">
  
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    
    </form>
  </nav>