<h2> Current Job Postings</h2>
<div class="card">
     <div class="row mt-1"> 
        <div class="col-md-2 rightcol">
            <img style="height: 120px; width: 160px;" [src]="listing.photoUrl == null?  '../../../../../assets/default.jpg' : listing.photoUrl" class="card-img-top">
          </div>
         <div class="col-md-5">
             <a style="font-size:1.1em" target="_blank" title="{{listing.title}}" [routerLink]="['/listings/', listing.id]"> {{listing.title}}</a><br>
             <p class="text-primary">{{listing.address}}<br /></p>
             <p class="text-primary"><button type="button" class="leasetype">Lease </button> &nbsp; {{listing.rentFrom | date}} - {{listing.rentUntil | date}}</p>
         </div>
         <div class="col-md-2 mt-1 text-success">
           <h5>{{listing.price | currency}} / Mo</h5>
         </div>
         <div class="col-md-3 mt-1 rightcol border-left">
            <div class="text-left"> 
                <button [routerLink]="['/listings/', listing.id]" class="listingbutton bg-white view"> 
                    
                    <i class="fa fa-eye text-success "></i>
                    View Details
                </button>
                <button class="listingbutton mt-1 bg-white message"> 
                    
                    <i class="fa fa-envelope text-warning "></i> Message User
                </button>
                <button class="listingbutton mt-1 bg-white favorite"> 
                    <i class="fa fa-heart text-danger"></i>
                    <a target="_blank" title="Message Lister" [routerLink]="['/listings/', listing.id]"> Favourite This</a>
                </button>
            </div>
      </div>
     </div>
</div>

