.card:hover img {
    transform: scale(1.03, 1.03);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    opacity:0.7;
}

.card img {
    transform: scale(1.0, 1.0);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.card-img-wrapper {
    overflow: hidden;
    position:relative;
}

.member-icons {
    position:absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
}

.card-img-wrapper:hover .member-icons{
    bottom: 0;
    opacity: 1;
}

.animate {
    transition: all 0.3s ease-in-out;
}

.leasetype {
    background-color: white;
    color: #1672e2 !important;
    border: 2px solid #1672e2 !important;
}


.listingbutton {
    width: 100%;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.listingbutton a {
    text-decoration: none;
    color:black !important;
}

    .listingbutton a:hover {
        
        text-decoration: none;
        color: black !important;
    }

.favorite {
    border: 2px solid pink;
}

.message {
    border: 2px solid orange;
}

.view {
    border: 2px solid #25e025;
}

.card {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:6px;
}

.title {
    font-size:1.2em;
}